<p>	<%= link_to profile_item.title, profile_show_path(profile_item.id) %> </p>
<p>	<%= profile_item.subtitle %> </p>
<p>	<%= profile_item.body %> </p>
<%= image_tag profile_item.thumb_image unless profile_item.thumb_image.nil? %>
<%= link_to "Edit", edit_profile_path(profile_item.id) %>
<%= link_to 'Delete', profile_path(profile_item.id), method: :delete, data: { confirm: 'Are you sure?' } %>