<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <%= image_tag profile_item.thumb_image_url unless profile_item.thumb_image_url.nil? %>
        <div class="card-body">
            <p>	<%= link_to profile_item.title, profile_show_path(profile_item.id) %> </p> <%= profile_item.subtitle %>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <%= link_to "Edit", edit_profile_path(profile_item.id), class:"btn" %>
                    <%= link_to 'Delete', profile_path(profile_item.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %>
                </div>
            </div>
        </div>
    </div>
</div>

