<h1>Profile Items</h1>

<%= link_to "Create new Item", new_profile_path %>

<% @profile_items.each do |profile_item| %>
	<p>	<%= profile_item.title %> </p>
	<p>	<%= profile_item.subtitle %> </p>
	<p>	<%= profile_item.body %> </p>
	<%= image_tag profile_item.thumb_image unless profile_item.thumb_image.nil? %>
	<%= link_to "Edit", edit_profile_path(profile_item.id) %>
<% end %>
